# IDE data
.kdev4
*.kdev4
.vs
.vscode
/CMakeSettings.json*
/CMakePresets.json*

# Generated resources
src/platform/version.c
res/version.rc
res/version.txt
res/julius.icns
res/shell.html
res/packed_assets/

# Build output and data directories
/build*/
/release
out/
cmake-build-debug
/data
ext/SDL2/*/
*~
*.swp
.vscode
ext/mpg123*

# Asset packer
/res/asset_packer*/build*/
/res/asset_packer/.ionide/
/res/asset_packer/CMakeSettings.json*

# Android
*.iml
.gradle
local.properties
.DS_Store
/captures
.externalNativeBuild
.idea
.cxx/
*.log
/android/build/
/android/*/build/
/android/*/release/
/android/augustus.keystore
/android/julius.keystore
/android/play-publisher.json
/android/augustus/src/main/play
/android/julius/src/main/play

# lib files
ext/SDL2/*.zip
ext/SDL2/*.tar.gz

res/augustus.icns
