language: c

matrix:
  # Note: If you add a build here or change the order, you need to update the CI badges in README.md as well!
  include:
  - os: linux
    compiler: gcc
    env: SDL_LIB=SDL2-2.0.9 SDL_MIXER_LIB=SDL2_mixer-2.0.4 RUN_CODECOV=1
  - os: linux
    compiler: gcc
    env: SDL_LIB=SDL2-2.0.0 SDL_MIXER_LIB=SDL2_mixer-2.0.0
  - os: linux
    compiler: clang
    env: SDL_LIB=SDL2-2.0.9 SDL_MIXER_LIB=SDL2_mixer-2.0.4
  - os: osx
    compiler: clang
    env: SDL_LIB=SDL2-2.0.9 SDL_MIXER_LIB=SDL2_mixer-2.0.4
  - os: linux
    name: PS Vita
    env: VITA_BUILD=true
    services:
      - docker
    before_deploy:
      - bash ./.ci_scripts/bintray_conf.sh
    deploy:
      provider: bintray
      on:
        all_branches: true
      file: bintray-vita.json
      user: bvschaik
      skip-cleanup: true
      key:
        secure: false # Fill in here your Bintray encrypted API key!

install:
  - ./.ci_scripts/docker.sh
cache:
  directories:
  - $SDL_LIB
  - $SDL_MIXER_LIB

before_install:
  - ./.ci_scripts/setup.sh

before_script:
  - ./.ci_scripts/setup_dir.sh

script:
  - ./.ci_scripts/run.sh

after_success:
  - if [ $RUN_CODECOV ];
    then
      bash <(curl -s https://codecov.io/bash);
    fi;
