language: c

matrix:
  # Note: If you add a build here or change the order, you need to update the CI badges in README.md as well!
  include:
  - os: linux
    compiler: gcc
    env: SDL_LIB=SDL2-2.0.9 SDL_MIXER_LIB=SDL2_mixer-2.0.4 RUN_CODECOV=1
  - os: linux
    compiler: gcc
    env: SDL_LIB=SDL2-2.0.0 SDL_MIXER_LIB=SDL2_mixer-2.0.0
  - os: linux
    compiler: clang
    env: SDL_LIB=SDL2-2.0.9 SDL_MIXER_LIB=SDL2_mixer-2.0.4
  - os: osx
    compiler: clang
    env: SDL_LIB=SDL2-2.0.9 SDL_MIXER_LIB=SDL2_mixer-2.0.4
  - os: linux
    name: PS Vita
    env: VITA_BUILD=true DEPLOY=vita
    services:
      - docker
  - os: linux
    name: Nintendo Switch
    env: SWITCH_BUILD=true DEPLOY=switch

before_deploy:
  - ./.ci_scripts/bintray_conf.sh

deploy:
  provider: bintray
  on:
    branch: master
    repo: bvschaik/julius
    condition: $DEPLOY
  file: bintray.json
  user: bvschaik
  skip-cleanup: true
  key:
    secure: "aOBNdwEeWFDLn5WxkczOvVdT0GgI97sr20wA+uG+RtUPclGczYYIxHWvp4l9ZsAJ32FIB9IzuuzrOHWFcv+vK2/4DaIDmYhilY197fBBSSDYdMNAxNCNSZkMV0t0B4OYaB9GI55QN0UIoycb6CHLxYA+uf4Y7pMZFxaKX9Fv1FXe5/XhsTVgrdZn+EVpMnCwD6LuPTlcwlVNppUgJmRVOX21SKyyW2VGvXjBRbYVssKm7ETBKnbZRqEIcvz6osBgCz7rBoj1V81q+TA3WQfCpaao8VQVQggBRtF/A0F6P4iHyHaCFF3PBzlX/0oqeg/fTrjQZhbItPjg+6lMTcSrxgLtrRwTnnfCUC3S/13HkdW5uK27Xu8xvi0KUw+SRc1z9/zU7ilMwri6I0eHk1yOWfIE9Uweg7DSvrkEovC+g2qsPmmSsz/m+lHjzv+qecdpkPzPOUF0dj3cjN03ktcnmdlj+aZrF+e7D651gwGdlhBg1jd0v8iVuQ5l1FkOMYiQznQpdUpJy9jAeBz4HRbe0G9SApA5NCRt4ZEAPF7TDbpRaPuHkxTN1mxgZQAxSqyCJlLi9baqh4fYdwryLLv0Ewk21E4ramjq+CqtIvpQBvLgyizPdku9qOgFMMtGi2SabJWiCa6nPNT/P6YWRBb8/0eObP6I2pGKNBaTHhY1zYw="

install:
  - ./.ci_scripts/docker.sh
cache:
  directories:
  - $SDL_LIB
  - $SDL_MIXER_LIB

before_install:
  - ./.ci_scripts/setup.sh

before_script:
  - ./.ci_scripts/setup_dir.sh

script:
  - ./.ci_scripts/run.sh

after_success:
  - if [ $RUN_CODECOV ];
    then
      bash <(curl -s https://codecov.io/bash);
    fi;
